body{
    overflow-x: hidden;
}
.seconddiv{
    height: 40px;
    border-bottom: 1px solid #EEE;
    background: #FFEFBA;  
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); 
background: linear-gradient(to right, #FFFFFF, #FFEFBA);   
}
.seconddivh3{
    position: absolute;
    margin-left: 300px;
    margin-top: 3px;
    font-size: 19px;
}
.seconddivp{
    position: absolute;
    margin-left: 330px;
    font-size: 13px;
    margin-top: 9px;   
}
.seconddivh32{
    position: absolute;
    margin-left: 380px;
    margin-top: 3px;
    font-size: 19px;
}
.seconddivp2{
    position: absolute;
    margin-left: 410px;
    font-size: 13px;
    margin-top: 9px;   
}
.seconddivp3{
    position: absolute;
    margin-left: 1000px;
    font-size: 13px;
    margin-top: 9px; 
    transition: 0.5s;      
}
.seconddivp4{
    position: absolute;
    margin-left: 1100px;
    font-size: 13px;
    margin-top: 9px; 
    transition: 0.5s;      
}
.seconddivp5{
    position: absolute;
    margin-left: 1200px;
    font-size: 13px;
    margin-top: 9px; 
    transition: 0.5s;      
}
.link2{
    color: black;
}
.link2:hover{
    color: #e85348;
}
.thirddiv{
    width: 100%;
    height: auto;
    padding-left: 100px;
    border-bottom: 1px solid #EEE;
}
.userP{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}
.thiddivsub2{
   background-color: red;
    transition: 0.3s;
}
.thiddivsub1{
    background-color: #e85348;
    margin-left: 0px;
    transition: 0.3s;
}
.navitem1{
    margin-top: 10px;
    margin-left: 70px;

}
.searchbar{
   
    width: 600px;
    height: 35px;
   padding-top: 20px;
    border: 1px solid #cdc9c9;
    border-radius: 3px;
   
}
.searchdiv{
    width: 100%;
}
.searchbarbutton{

 position: absolute;
margin-top: -8px;
 margin-left: -50px;
 font-size: 20px;
 width: 50px;
 height: 38px;
 border-radius: 3px;
}
.searchbarbutton h3{
padding-top: 5px;
}
.navlink1{
    font-size: 25px; 
    margin-left: 20px;
    
    
}

@media screen and (min-width:1100px) {
    .thiddivsub1{
        margin-left: 800px;
    }
    
    

}

.logo h1{
text-align: left;

font-size: 1rem;
font-family: Helvetica, Arial, sans-serif;

transition: 0.8s;
}
.navitem2{
    border-radius: 5px;
    opacity: 0.8;
    margin-left: -20px;
    background-color: lightgray;  
    font-size: 13px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.navitem3{
    border-radius: 5px;
    opacity: 0.8;
    margin-left: -20px;
    background-color: lightgray;  
    font-size: 13px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.wishcount{
    position: absolute;
    
    
    background-color: lightgray;
   
   border-radius: 5px;
   opacity: 0.8;
   transition: 0.5s; 
}
.wishcount1{
    position: absolute;
    width: 20px;
    /* height: 20px; */
    font-size: 13px;
    background-color: lightgray;
    margin-left: 965px;
   margin-top: -40px;
   border-radius: 5px;
   opacity: 0.8;
   transition: 0.5s; 
}
.thirddivsub{
background-color: red;
width: 100%;

}





.headerL{
    color: black;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    
}