.maindivS{
    /* display: none; */
  opacity: 0.7;
  
}

.firstfix{
    position: fixed;
}
.firstdiv{
   height: 30px;
    background-color: rgb(244, 179, 57);
    margin-top: -5px;
}
.firstdiv p{
    padding-top: 5px;
}
.link{
    text-decoration: none;
    color: #e85348;
    font-family: "Mr Eaves XL Modern Bold", sans-serif;
}

.courouselimg{
height: 550px;
width: 100%
}
.fifthsub{
    font-family: "Mrs Eaves XL Serif", serif;
}

.fifthdiv{
    margin-top: 60px;
    height: auto;
    border-bottom: 1px solid #dcd9d9;  
}
.fifp{
    margin-top: -20px;
    z-index: 1;
    color: #e85348;
}
.fifthmain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    width: 100%;
    height: auto;
    margin-top: 30px;
    transition: 0.3s;
}
.fifthmain li{
    margin-left: 120px;
    list-style: none;
}
.fifthmain li h3{
    font-size: 65px;
}
.main1 h3:hover{
    color: #e85348;
}
.main2 h3:hover{
    color: #e85348;
}
.main3 h3:hover{
    color: #e85348;
}
.main4 h3:hover{
    color: #e85348;
}
.main5 h3:hover{
    color: #e85348;
}
.main6 h3:hover{
    color: #e85348;
}
.main7 h3:hover{
    color: #e85348;
}
.main8 h3:hover{
    color: #e85348;
}
.main9 h3:hover{
    color: #e85348;
}
.main10 h3:hover{
    color: #e85348;
}
.main11 h3:hover{
    color: #e85348;
}
.Hlink{
    text-decoration: none;
    color: rgb(59, 58, 58);
}
.sixthdiv{
    height: 400px;
    width: 100%;
    border-bottom: 1px solid #dcd9d9;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 1515px;
    height: 430px;
    /* flex-wrap: wrap; */
   
}
.vhomediv{
    margin-left: 0px;
    margin-top: 100px;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
    /* background-color: #e85348; */
    /* flex-wrap: wrap;  */
  }
  .vhomesub{
      width: 100%;
      height: 310px;
      /* background-color: red; */
      margin-left: 0px;
     margin-top: 0px;
  }
  .vhomesub:hover{
      box-shadow: 2px 3px 10px   #e6e3e3;
  }
  .vhomeimg {
      margin-top: 30px;
      width: 300px;
      height: 150px;
  }
  .vhomemini{ 
    margin-top: 30px;   
      width: 100%;
      height: 100px;
      margin-left: 0px;
  }
.vround{
   position: absolute;
    /* background-color: red; */
    height: 70px;
    width: 100%;
    font-size: 30px;
    border-radius: 50px;
   margin-left: 110px;
    margin-top: 28px;
    
    transition: 0.3s;
}
.vround:hover{
    color: rgb(244, 179, 57);
   
}
.rh3{
    position: absolute;
    margin-left: -10px;
    margin-top: 40px;
    width: 100%;
    font-family: "Mrs Eaves XL Serif", serif;
    transition: 0.3s;
}
.rifp{
    position: absolute;
    margin-top: 60px;
    margin-left: -15px;
    width: 100%;
    z-index: 1;
    color: #e85348;
    transition: 0.3s;
  
    
}

  .Rthirdsub{
    position: absolute;
      width: 350px;
      height: 300px;
      /* background-color: red; */
     margin-top: 80px;
     padding-left: 00px;
  }
  .Rthirdsub:hover{
      box-shadow: 2px 3px 10px   #e6e3e3;
  }
  .Rthirdimg{
      margin-top: 30px;
      width: 250px;
      height: 100px;
  }
  .Rthirdmini{
     
      width: 300px;
      height: 100px;
      margin-left: 20px;
  }
  .Rthirdmini h6{
      padding-top: 20px;
      margin-top: 5px;
  }
  .Rthirdsub:hover .sbutton1{
     display: block;
     margin-left: 65px;
  }
  .Rbutton1{
      position: absolute;
      display: none;
      font-style: normal;
     border-radius: 3px;
     border: none;
     color: white;
     background-color: rgb(247, 142, 104);
    font-size: 13px;
     height: 30px;
     width: 170px;
     transition: 0.8s;
     
  }
  .Rbutton1:hover{
  background-color: orangered;
  }
  .Rbutton2{
      margin-left: 260px;
     margin-top: 10px;
      font-size: 25px;
  }
  .Rbutton2:active{
      color: red;
  }
  .Rbuttonsub{
      color: red;
  }
  .profile{
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    place-items: center;
    justify-content: center;
    margin-left: 500px;
    margin-top: 150px;
    border-radius: 2px;
    z-index: 5;
  }
  .closebutton{
    position: absolute;
   margin-top: -450px;
   margin-left: 400px;
  }
  .addprofilesign{
    position: absolute;
    font-size: 30px;
    margin-top: -110px;
    
  }
  .closeupload{
    position: absolute;
    font-size: 13px;
    margin-left: 10px;
  }
  .uploadarea{
  
    position: absolute;
    z-index: 5;
    background-color: white;
    width: 180px;
    height: 60px;
    margin-top: -130px;
  }
  .upload{
    margin-left: 30px;
    font-size: 10px;
   
  }
  .uploadbutton{
   
    font-size: 10px;
   
  }
  .logout{
    position: absolute;
    margin-top: 200px;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    background-color:transparent;
    border: 1px solid black;
  }
  .profilephoto{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: -270px;
    border-radius: 50%;
    margin-left: 0px;
  }
  .profilepic{
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .profile h1{
    position: absolute;
  }
  .profile h5{
    margin-top: 80px;
  }
  .sevendiv{
    margin-top: 100px;
  }