.wishsub1{
    /* background-color:black; */
    margin-top: 70px;
    width: 500px;
    margin-left: 650px;
  

    
}

.wishsub1 h5{
    position: absolute ;
    float: left;
    font-size: 30px;
    margin-left: 30px;
    font-family: "Mrs Eaves XL Serif", serif;
   
}

.wthirddiv{
    position: absolute;
  /* background-color: red; */
  margin-top: 100px;
  /* border-bottom: 1px solid #d7d5d5; */
  margin-left: -450px; 
  width: 1100px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.wthirdsub{
    width: 350px;
    height: auto;
    /* background-color: red; */
   margin-top: 30px;
}
.wthirdsub:hover{
    box-shadow: 2px 3px 10px   #e6e3e3;
   
}
.wthirdimg{
    margin-top: 50px;
    width: 300px;
    height: 200px;
}
.wthirdmini{
   
    width: 300px;
    height: 100px;
    margin-left: 20px;
}
.wthirdmini h6{
    padding-top: 20px;
    margin-top: 5px;
}
.wthirdsub:hover .wbutton1{
   display: block;
   margin-left: 65px;
   margin-top: 30px;
}
.wbutton1{
    display: none;
    font-style: normal;
   
   border-radius: 3px;
   border: none;
   color: white;
   background-color: rgb(247, 142, 104);
  font-size: 13px;
   height: 30px;
   width: 170px;
   transition: 0.8s;
}
.wbutton1:hover{
background-color: orangered;
}
.wbutton2{
    margin-left: 260px;
   margin-top: 10px;
    font-size: 25px;
}

.wbutton2:active{
    color: rgb(251, 201, 182);
}
.wfooter{
    margin-top: 1200px;
}
.wbuttonsub{
    color: red;
}
